
<div class="content">

    {PAGE_HEAD}

    <form method="post" action="{FRM_ACTION}" id="form1" >

        <fieldset>
            <div class="form-frame">	
                <div class="frm-title pink"><strong>Agendar servi&ccedil;o para:</strong></div>
                <div class="frm-reg">
                    <div class="field">
                        <button class="btn green" type="button" name="bt_new_agend" onclick="$('.content-box').newAgend('?link=agc01&action=new_cli_agend', false, '');" >Novo cliente</button>
                    </div>
                    <div class="field">
                        <button class="btn orange" type="button" name="bt_find" onclick="locPage('?link=list_pets&from_agend=true');">Buscar no cadastro-></button>
                    </div>
                    <div class="field-desc"></div>
                </div>
            </div>
        </fieldset>
        <br/>
        
        <div class="content-box">
            
        </div>
        
    </form>
    <div class="hspacer"></div>
</div>
