
<div class="content">

    {PAGE_HEAD}

    <form method="post" action="{FRM_ACTION}" id="form1" >
        
        <input type="hidden" name="id" value="{TXT_ID}" />
        
        <fieldset>
            <div class="form-frame">	
                <div class="frm-title pink"><strong>Dados do cliente</strong></div>
                <div class="frm-reg">
                    <div class="field">
                        <label for="txt_nome_cli"><strong>Nome:</strong></label>
                        <input type="text" id="txt_nome_cli" class="required" name="nome_cliente" size=50 {LOCK_TXT} value="{TXT_NOME_CLIENTE}" />
                    </div>
                </div>

                <div class="inner-group">
                    <div class="inner-frame left">
                        <div class="inner-title pink"><strong>Localiza&ccedil;&atilde;o</strong></div>
                        <div class="frm-reg">
                            <div class="field">
                                <label for="txt_cep"><strong>CEP:</strong> </label>
                                <input type="text" class="" id="txt_cep" name="cep" size=10 maxlength=8 {LOCK_TXT} value="{TXT_CEP}" />
                            </div>
                        </div>
                        <div class="frm-reg">
                            <div class="field">
                                <label for="txt_cidade"><strong>Cidade:</strong></label>
                                <input type="text" class="" id="txt_cidade" name="cidade" size=18 maxlength=50 {LOCK_TXT} value="{TXT_CIDADE}"/>
                            </div>
                        </div>
                        <div class="frm-reg">

                            <div class="field">
                                <label for="txt_uf"><strong>UF:</strong></label>
                                <input type="text" id="txt_uf" name="uf" size=2 maxlength=2 {LOCK_TXT} value="{TXT_UF}"/>
                            </div>
                            <div class="field right">
                                <label for="txt_country" ><strong>Pa&iacute;s:</strong></label>
                                <input type="text" id="txt_country" name="country" size=5 maxlength=15 {LOCK_TXT} value="{TXT_COUNTRY}"/>
                            </div>
                        </div>
                    </div>

                    <div class="inner-frame left">
                        <div class="inner-title pink"><strong>Endere&ccedil;o / Contato</strong></div>
                        <div class="frm-reg">
                            <div class="field">
                                <label for="txt_endereco"><strong>Endere&ccedil;o:</strong></label>
                                <input type="text" id="txt_endereco" class="" name="endereco" size=33 maxlength=70  {LOCK_TXT}  value="{TXT_ENDERECO}"/>
                            </div>
                        </div>		
                        <div class="frm-reg">
                            <div class="field">
                                <label for="txt_bairro" class=""><strong>Bairro:</strong></label>
                                <input type="text" class="" id="txt_bairro" name="bairro" size=18 maxlength=50 {LOCK_TXT} value="{TXT_BAIRRO}"/>
                            </div>	
                            <div class="field right">
                                <label for="txt_num" class=""><strong>No: </strong></label>
                                <input type="text" class="" id="txt_num" name="numero" size=3 maxlength=5 {LOCK_TXT} value="{TXT_NUM}"/>
                            </div>
                        </div>						
                        <div class="frm-reg">
                            <div class="field">
                                <label for="txt_comple"><strong>Complemento:</strong></label>
                                <input type="text" id="txt_comple" name="complemento" size=32 maxlength=20 {LOCK_TXT} value="{TXT_COMPLEMENTO}"/>
                            </div>
                        </div>
                        <div class="frm-reg">
                            <div class="field">
                                
                                <label for="txt_telefone"><span class="asterisk">*</span><strong>Telefone:</strong></label>
                                <input type="text" class="reqfone" id="txt_telefone" name="telefone" size=10 minlength=14 maxlength=14 {LOCK_TXT} value="{TXT_TELEFONE}"/>
                            </div>
                            <div class="field right">
                               
                                <label for="txt_celular"><span class="asterisk">*</span><strong>Celular:</strong></label>
                                <input type="text" class="reqfone" id="txt_celular" name="celular" size=10 minlength=15 maxlength=15 {LOCK_TXT} value="{TXT_CELULAR}"/>
                            </div>

                        </div>
                        <div class="frm-reg">
                            <div class="field">
                                <label for="txt_email" ><strong>Email: </strong></label>
                                <input  id="txt_email1" name="email" type="email" {LOCK_TXT} size=25 value="{TXT_EMAIL}" />
                            </div>
                            <div class="field-desc"></div>
                        </div>

                    </div>

                </div>
            </div>
        </fieldset>
        <br/>

        <fieldset>	
            <div class="form-frame">
                <div class="frm-title pink"><strong>Dados do PET</strong></div>

                <div class="petregs">
                    <!-- BEGIN BLK_PET_REGS -->
                    <div class="frm-reg overfv petfields {PET_REGS_VISIBLE}">
                        <div class="field">
                            <label for="txt_nome_pet"><strong>Nome PET:</strong> </label>
                            <input type="text" class="required" name="nome_pet[]" size=10  minlength=1 maxlength=20 {LOCK_TXT} value="{NOME_PET}" />
                        </div>
                        <div class="field">
                            <div class="field-select">
                                <label><strong>Animal:</strong></label>
                                <!-- BEGIN BLK_ANIMAL -->
                                <select class="required" id="especie1" style="width:70px;" name="especie[]">
                                    {OPT_VAZIO}
                                    <!-- BEGIN BLK_OPT_ANIMAL -->
                                    <option value="{OPT_ANIMAL_VALUE}" {SELECTED_ANIMAL}>{OPT_ANIMAL_DESC}</option>
                                    <!-- END BLK_OPT_ANIMAL -->
                                </select>
                                <!-- END BLK_ANIMAL -->
                                <!-- BEGIN BLK_ANIMAL_FULL -->
                                <select class="required" id="especie1" style="width:70px;" name="especie[]">
                                    {OPT_VAZIO}
                                    <!-- BEGIN BLK_OPT_ANIMAL_FULL -->
                                    <option value="{OPT_ANIMAL_VALUE}" {SELECTED_ANIMAL}>{OPT_ANIMAL_DESC}</option>
                                    <!-- END BLK_OPT_ANIMAL_FULL -->
                                </select>
                                <!-- END BLK_ANIMAL_FULL -->
                            </div>
                        </div>
                        <div class="field">
                            <div class="field-select">
                                <label><strong>Ra&ccedil;a:</strong></label>
                                <!-- BEGIN BLK_RACA -->
                                <select class="required" id="raca1" style="width:150px;" name="raca[]">
                                    {OPT_VAZIO}
                                    <!-- BEGIN BLK_OPT_RACA -->
                                    <option value="{OPT_RACA_VALUE}" {SELECTED_RACA}>{OPT_RACA_DESC}</option>
                                    <!-- END BLK_OPT_RACA -->
                                </select>
                                <!-- END BLK_RACA -->
                            </div>
                        </div>
                        <div class="field">
                            <div class="field-select">
                                <label><strong>G&ecirc;nero:</strong></label>
                                <select class="required" style="width:80px;" name="pet_genero[]">
                                    {OPT_GENERO_SELECTED}
                                    <!-- BEGIN BLK_OPT_GENERO -->
                                    <option value="M">Macho</option>
                                    <option value="F">F&ecirc;mea</option>
                                    <!-- END BLK_OPT_GENERO -->
                                </select>
                            </div>
                        </div>
                        <!-- BEGIN BLK_PET_ID -->
                        <div class="field">
                            <input type="hidden" name="pet_id[]" value="{HIDDEN_VALUE_PET_ID}"/>
                        </div>
                        <!-- END BLK_PET_ID -->
                    </div>
                    <!-- END BLK_PET_REGS -->
                </div>

                <div class="frm-reg overfh">
                    <div class="field right">
                        <button class="btn orange addmore" type="button" name="add_more[]">Adicionar +</button>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="frm-observ right"><label class="asterisk"></label>* campos obrigat&oacute;rios</div>					
        <div class="frm-sendgroup"><button class="btn green" id="submit" type="submit" name="{BT_NAME}" value="{BT_VALUE}" >{BT_LABEL}</button></div>			
    </form>
    <div class="hspacer"></div>
</div>
