
<div class="content{CSS_HEAD}">

    {PAGE_HEAD}

    <!-- BEGIN BLK_PAGINATOR_HEAD -->
    <div class="frm-reg">
        <div class="field paginator">
            {TXT_PAGINATOR}
        </div>
        <div class="field-desc right">
            <p class="info-reg">Exibindo <strong>{VAL_PART_PAG}</strong> registros de <strong>{VAL_TOTAL_PAG}</strong></p>
        </div>	
        <div class="field right">
            <label><strong>Busca:</strong></label><input type="text" maxlength=20  size=10 name="busca" />
        </div>

    </div>
    <!-- END BLK_PAGINATOR_HEAD -->

    <fieldset>
        <!-- BEGIN BT1 -->
        <div class="lst-table">
            <!-- END BT1 -->
            
            <!-- BEGIN BLK_FRAME -->
            <div class="form-frame">	
                <div class="frm-title pink"><strong>Faturas</strong></div>
                <!-- BEGIN BLK_FATURA -->
                <div class="frm-reg brd {CSS_COLOR}">
                    <div class="field" style="width: 35%;">
                        <label><strong>Nome:</strong> {NOME_CLI}</label>

                    </div>

                    <div class="field">
                        <label><strong>Valor:</strong> {VAL_S_DESC}</label>
                    </div>
                    <div class="field">
                        <label><strong>Desconto:</strong> {VAL_DESC}</label>
                    </div>
                    <div class="field">
                        <label><strong>Total:</strong> {VAL_FAT}</label>
                    </div>
                    <div class="field right">
                        <buton class="btn orange" name="print_recibo" onclick="locPage('{PAGE_RECIBO}');">{LBL_BT_RECIBO}</buton>

                    </div>
                </div>
                <!-- END BLK_FATURA -->
            </div>
            <!-- END BLK_FRAME -->
            <!-- BEGIN ET1 -->
        </div>
        <!-- END ET1 -->


        <!-- BEGIN BLK_NOREG -->
        <div class="lst-none orange">
            {MSG_NOREG}
        </div>
        <!-- END BLK_NOREG -->

    </fieldset>
</div>
