
<div class="content">

    {PAGE_HEAD}

    <div class="recibo center">
        <div class="rec-content al brd" style="width: 750px;">
            <div class="head">
                <div class="left">
                    <img src="./img/logo_caprichonobixo.jpg" height="80" width="200"/>
                </div>
                <div class="right ac endereco">
                    <div class="frm-reg">
                        {ENDERECO}
                    </div>
                    <div class="frm-reg">
                        {TEL}
                    </div>
                </div>
            </div>
            <div class="info clb ">
                <div class="frm-reg ">
                    <div class="field" style="width: 300px">
                        <h3>Recibo No: {NUM_REC}</h3>
                    </div>
                    <div class="field right">
                        <h3>Valor: {VAL_REC}</h3>
                    </div>
                </div>

                <div class="frm-reg">
                    <div class="field">Recebi(emos) de <strong>{NOME_CLI}</strong> o valor de <strong>{VAL_REC}</strong> referente aos seguintes servi&ccedil;os realizados em seu(s) PET(s):</div>                  
                </div>

                <div class="lst-coll left brdbt ">
                    <div class="field "><strong>PET</strong></div>
                </div>
                <div class="lst-colr left brdbt ">
                    <div class="field "><strong>Servi&ccedil;o</strong></div>
                </div>

                <!-- BEGIN BLK_PET_SERVICES -->

                <!-- BEGIN BLK_PET -->
                <div class="lst-coll left">
                    <p class="ac">{NOME_PET}</p>
                </div>
                <!-- END BLK_PET -->
                <!-- BEGIN BLK_SERVICES -->
                <div class="lst-colr left clr">

                    {SERVICES}

                </div>
                <!-- END BLK_SERVICES -->

                <div class="lst-cola clb brdb"></div>

                <!-- END BLK_PET_SERVICES -->
                
                <div class="lst-coll left"><p class="ac">---</p></div>
                <div class="lst-colr left">
                    <div class="field left">{DESCONTO}</div>
                    <div class="field right"><strong>Total:</strong> {TOTAL_S_DESC}</div>                  
                </div>
                <div class="lst-cola clb brdb"></div>
                <br/>
                <div class="frm-reg">
                    <div class="field">E para clareza firmo o presente.</div>                  
                </div>
                <div class="frm-reg">
                    <div class="field right">Monte Alegre do Sul, {DATA}</div>                  
                </div>
                <div class="frm-reg">
                    <div class="field right">Nome: ____________________________ RG:_______________</div>                  
                </div>
                <div class="frm-reg">
                    <div class="field right">Assinatura: _________________________________________</div>                  
                </div>
            </div>

        </div>
    </div>
</div>
