
<div class="content{CSS_HEAD}">

    {PAGE_HEAD}

    <!-- BEGIN BLK_PAGINATOR_HEAD -->
    <div class="frm-reg">
        <div class="field paginator">
            {TXT_PAGINATOR}
        </div>
        <div class="field-desc right">
            <p class="info-reg">Exibindo <strong>{VAL_PART_PAG}</strong> registros de <strong>{VAL_TOTAL_PAG}</strong></p>
        </div>	
        <div class="field right">
            <label><strong>Busca:</strong></label><input type="text" maxlength=20  size=10 name="busca" />
        </div>

    </div>
    <!-- END BLK_PAGINATOR_HEAD -->

    <fieldset>
        <!-- BEGIN BT1 -->
        <div class="lst-table">
        <!-- END BT1 -->
        
            <!-- BEGIN BLK_INFO_REG -->
            <div class="field-desc center">
                {MSG_INFO_REG}
            </div>
            <!-- END BLK_INFO_REG -->
            
            <!-- BEGIN BLK_REG -->
            <div class="lst-reg">
                <div class="lst-col">
                    <div class="lst-row {CSS_REG}">
                        <div class="lst-field">
                            <label class="inner-title">{TXT_DONO1}</label>
                        </div>
                        <div class="lst-field right">
                            <label>{TXT_DONO2}</label>
                        </div>
                    </div>
                    <div class="lst-row cup">
                        
                        <!-- BEGIN BLK_PET -->
                        <div class="lst-field">
                            <div class="lst-title {CSS_PET}">{TXT_PET1}</div>
                            <div class="cup pet">
                                <p>{TXT_PET2}</p>
                                <p>{TXT_PET3}</p>
                                <p>{TXT_PET4}</p>
                            </div>
                        </div>
                        <!-- END BLK_PET -->
                        
                        <!-- BEGIN BLK_NENHUM_PET -->
                        <div class="pet">{MSG_NENHUM_PET}</div>
                        <!-- END BLK_NENHUM_PET -->
                    </div>
                </div>
                <div class="right brd lst-group white">
                    <button class="btg orange" type="button" name="bt_edit" onclick="locPage('{PAGE_EDIT}');">{LBL_BT_EDIT}</button><br/>
                    <button class="btg red" type="button" name="bt_del" onclick="$(this).ajaxDelRequest(this, '{PAGE_DEL}', true, '{DIALOG_MSG_DEL}');">{LBL_BT_DEL}</button>
                    <!-- BEGIN BLK_BT_AGEND -->
                    <br/><button class="btg green" type="button" name="bt_agend" onclick="locPage('{PAGE_AGEND}');">{LBL_BT_AGEND}</button>
                    <!-- END BLK_BT_AGEND -->
                </div>

            </div>


            <!-- END BLK_REG -->

            <!-- BEGIN BLK_NOREG -->
            <div class="lst-none orange">
                {MSG_NOREG}
            </div>
            <!-- END BLK_NOREG -->

        <!-- BEGIN ET1 -->
        </div>
        <!-- END ET1 -->
        
        <!-- BEGIN BLK_PAGINATOR_FOOT -->
        <div class="frm-reg">
            <div class="lst-field paginator">
                {TXT_PAGINATOR}
            </div>			
        </div>
        <!-- END BLK_PAGINATOR_FOOT -->

    </fieldset>					

