
			<div class="content">
				
				<div class="wrapper">
					<div id="page-title"><h2>{LBL_TITLE}</h2></div>
					<div class="form-desc"><strong>Descri&ccedil;&atilde;o: </strong>{DESC_PAGE}
						<div class="right">{ACT_VOLTAR}</div>
					</div>
				</div>		
				
				<div id="message" {CSS_MSG_POST}>{MSG_POST}</div>
				<div id="waiting">Por favor aguarde<br /><img src="./img/loader.gif" title="Carregando..." alt="Carregando..." /></div>
							
				<fieldset>
		
						 <div class="frm-reg">
							<div class="field paginator">
								{TXT_PAGINATOR}
							</div>
							<!--<div class="field right">
								<strong>Busca:</strong> <input type="text" maxlength=20  size=10/>
							</div><br/><br/>-->
							<div class="field right">
								<strong>&nbsp; Exibindo&nbsp;</strong>{VAL_PART_PAG} <strong>registros de</strong> {VAL_TOTAL_PAG}
							</div>		
						</div>
						
						<div class="frm-reg">
							
							<!-- BEGIN BLK_TBTITLE -->
							<div class="frm-reg blue">
								<div class="field" style="width:290px;">
									<strong>{TXT_REG1}</strong>
								</div>	
								<div class="field" style="width:150px;">
									<strong>{TXT_REG2}</strong>
								</div>
								
							</div>
							<!-- END BLK_TBTITLE -->
							
							<!-- BEGIN BLK_REG -->
							<div class="frm-reg {CSS}">
								<div class="field" style="width:290px;">
									{TXT_REG1}
								</div>	
								<div class="field" style="width:150px;">
									{TXT_REG2}
								</div>
								<div class="field" style="width:100px;">
									<a href="{LINK_VIEW_REG}" id="regedit" >{VIEW_REG}</a>
								</div>
								<div class="field ">
									<a href="{LINK_ACT_EDIT}" id="regedit" >{ACT_EDIT}</a>
									&nbsp;&nbsp;
									<a href="{LINK_ACT_DEL}" id="regdel" onclick="return deletechecked();">{ACT_DEL}</a>
								</div>
							</div>
							<!-- END BLK_REG -->
							
						</div>
						
						<div class="frm-reg">
							<div class="field paginator">
								{TXT_PAGINATOR}
							</div>			
						</div>
						
						
				</fieldset>					

