
<div class="content{CSS_HEAD}">

    {PAGE_HEAD}

    <!-- BEGIN BLK_PAGINATOR_HEAD -->
    <div class="frm-reg">
        <div class="field paginator">
            {TXT_PAGINATOR}
        </div>
        <div class="field-desc right">
            <p class="info-reg">Exibindo <strong>{VAL_PART_PAG}</strong> registros de <strong>{VAL_TOTAL_PAG}</strong></p>
        </div>	
        <div class="field right">
            <label><strong>Busca:</strong></label><input type="text" maxlength=20  size=10 name="busca" />
        </div>

    </div>
    <!-- END BLK_PAGINATOR_HEAD -->

    <fieldset>
        <!-- BEGIN BT1 -->
        <div class="lst-table">
            <!-- END BT1 -->

            <!-- BEGIN BLK_INFO_REG -->
            <div class="field-desc center">
                {MSG_INFO_REG}
            </div>
            <!-- END BLK_INFO_REG -->

            <!-- BEGIN BLK_REG -->
            <form method="post" action="{FRM_ACTION}" id="form{ANCORA}" >
                <!-- BEGIN BLK_DATA -->
                <div class="hspacer"></div>
                <div class="lst-reg orange recue">
                    <div class="field"><h1>{DATA}</h1></div>
                    <div class="field right"><h1 class="right">{FDATA}</h1></div>
                </div>
                <div class="hspacer"></div>
                <!-- END BLK_DATA -->

                <div class="lst-reg">
                    <div class="lst-col">
                        <div class="lst-row {CSS_REG} ">

                            <a name="reg-{ANCORA}"></a>

                            <div class="lst-field">
                                &nbsp;<label class="inner-title">{TXT_DONO1}</label>
                            </div>
                            <div class="lst-field right">
                                <label>{TXT_DONO2}</label>
                            </div>

                            <!-- BEGIN BLK_DONO_ENDERECO -->
                            <div class="lst-row ">
                                <div class="lst-field">
                                    {DONO_ENDERECO}
                                </div>
                            </div>
                            <!-- END BLK_DONO_ENDERECO -->

                        </div>


                        <!-- BEGIN BLK_PET_REG -->
                        <div class="lst-row cup">
                            <!-- BEGIN BLK_PET -->
                            <div class="lst-field">
                                <div class="lst-title {CSS_PET}">{TXT_PET1}</div>
                                <div class="cup pet white">
                                    <p>{TXT_PET2}</p>
                                    <p>{TXT_PET3}</p>
                                    <p>{TXT_PET4}</p>
                                </div>
                            </div>
                            <!-- END BLK_PET -->

                            <!-- BEGIN BLK_SERVICE -->
                            <div class="lst-field">
                                <div class="lst-title green"><strong>Sevi&ccedil;os</strong></div>
                                <div class="cup pet white">
                                    {LIST_SERVICES}
                                </div>
                            </div>
                            <!-- END BLK_SERVICE -->

                            <!-- BEGIN BLK_HORA_AGEND -->

                            <div class="lst-field right">
                                <div class="field">
                                    <label><strong>Total:</strong></label>
                                    <input type="text" class="money" name="service_total[]" size=4 {LOCK_TXT} value="{TXT_TOTAL_SERVICE}" readonly="" />
                                    <br/>
                                    <label><strong>Desc:</strong></label>
                                    <input type="text"  class="desconto" name="service_desconto[]" size=4 {LOCK_TXT} value="{TXT_DESCONTO}" />
                                    <input type="hidden" name="id_agend[]" size=4 {LOCK_TXT} value="{ID_PAG_AGEND}" readonly="" />
                                   
                                </div>
                                <div class="field">
                                    <button class="btg green" type="button" name="bt_pag" value="pagone" onclick="$(this).ajaxPagServiceRequest(this, '{PAGE_PAG_SERV}', true, '{DIALOG_MSG_PAG}');">{LBL_BT_PAG}</button>
                                </div>
                            </div>
                            <br/><br/><br/><br/><br/>
                            <div class="lst-field right orange">
                                <div class="field">
                                    <h4>
                                        {HORA_AGEND}
                                    </h4>
                                </div>
                            </div>

                            <!-- END BLK_HORA_AGEND -->

                            <!-- BEGIN BLK_NENHUM_PET -->
                            <div class="field">
                                {MSG_NENHUM_PET}
                            </div>
                            <div class="field right">
                                <button class="btg red" type="button" name="bt_del" onclick="$(this).ajaxDelAgendRequest(this, '{PAGE_DEL_AGEND}', true, '{DIALOG_MSG_DEL2}');">{LBL_BT_DEL2}</button>
                            </div>
                            <!-- END BLK_NENHUM_PET -->

                        </div>
                        <!-- END BLK_PET_REG -->
                    </div>
                    <div class="right brd lst-group white">
                        <button class="btg orange" type="button" name="bt_edit" onclick="locPage('{PAGE_EDIT}');">{LBL_BT_EDIT}</button><br/>
                    </div>
                    <!-- BEGIN BLK_PAG_ALL -->
                    <div class="right brd lst-group white">

                        <button class="btg green" type="button" name="bt_pag_all" value="pagall" onclick="$(this).ajaxPagAllServiceRequest(this, '{PAGE_PAG_SERV}', true, '{DIALOG_MSG_PAG_ALL}');">{LBL_BT_PAG_ALL}</button><br/>
                        <div class="field">
                            <label><strong>Total:</strong></label>
                            <br/>
                            <input type="text" class="money" name="total_all" size=4 {LOCK_TXT} value="{TXT_TOTAL_SERVICE_ALL}" readonly="" />
                            <br/>
                            <label><strong>Desconto:</strong></label>
                            <br/>
                            <input type="text" class="desconto" name="desconto_all" size=4 {LOCK_TXT} value="{TXT_DESCONTO_ALL}" />
                            <input type="hidden" name="id_dono" size=4 {LOCK_TXT} value="{ID_DONO}" readonly="" />
                                   
                        </div>

                    </div>
                    <!-- END BLK_PAG_ALL -->

                </div>
            </form>

            <div class="hspacer"></div>
            <!-- END BLK_REG -->

            <!-- BEGIN BLK_NOREG -->
            <div class="lst-none orange">
                {MSG_NOREG}
            </div>
            <!-- END BLK_NOREG -->

            <!-- BEGIN ET1 -->
        </div>
        <!-- END ET1 -->

        <!-- BEGIN BLK_PAGINATOR_FOOT -->
        <div class="frm-reg">
            <div class="lst-field paginator">
                {TXT_PAGINATOR}
            </div>			
        </div>
        <!-- END BLK_PAGINATOR_FOOT -->

    </fieldset>					
