
			<div class="content">
				
				
				<div class="wraper">
				
				<div id="page-title"><h1>{LBL_TITLE}</h1></div>
				<div class="form-desc"><strong>Descri&ccedil;&atilde;o: </strong>{DESC_PAGE}</div>
				
				</div>				
				
				<div id="message" {CSS_MSG_POST}>{MSG_POST}</div>
				<div id="waiting">Por favor aguarde<br /><img src="./img/loader.gif" title="Carregando..." alt="Carregando..." /></div>
				
				
				<form method="post" action="{FRM_ACTION}" id="form1">
					
				<fieldset>
					<div class="form-frame">
						<div class="frm-title blue">Login do usu&aacute;rio</div>
	
						<div class="frm-reg">
							<div class="field">
									<label for="txt_user" class="required">Login:</label>
									<input type="text" name="user_login" id="txt_user" class="required" value="{TXT_LOGIN}" />
							</div>
							<div class="field-desc">
								
							</div>
						</div>
						
						<div class="frm-reg">
							<div class="field">
									<label for="txt_perm" class="required">Permiss&atilde;o:</label>
									<input type="text" name="user_perm" id="txt_user_perm" class="required" maxlength="4" size=4 value="{TXT_PERM}" />
							</div>
							<div class="field-desc">exemplo: 4000 (usu&aacute;rio comum)</div>
						</div>
						
						<div class="frm-reg">
							<div class="field">	
									<label for="txt_pass1" class="required">Senha:</label>
									<input type="password" name="pass1"  id="txt_pass1" class="required" size="15" value="{TXT_PWD1}" />
							</div>
							<div class="field-desc"></div>
						</div>
						
						<div class="frm-reg">
							<div class="field">
								<label for="txt_resp" >Respons&aacute;vel:</label>
								<select style="width: 200px;" name="fk_resp">
									<!-- BEGIN OPT_RESP -->
  									<option value="{OPT_VALUE}">{OPT_DESC}</option>
  									<!-- END OPT_RESP -->
								</select>
							</div>
							<div class="field-desc">
								&Eacute; preciso um funcion&aacute;rio/prestador para associar ao cadastro de usu&aacute;rio.
								 Se o mesmo n&atilde;o se encontra na lista <a href="?link=cad_func">clique aqui</a>.
							</div>
						</div>
						
						
					</div>
				</fieldset>
				
					<br/>

					<div class="frm-observ"><div class="required-asterisk right">* campos obrigat&oacute;rios</div></div>

					<div class="frm-sendgroup">
						<input id="submit" type="submit" name="bt_send" value="Cadastrar" />
					</div>
	
				</form>
	
			</div>
