<div class="wrapper">
    <div id="page-title">{LBL_TITLE}</div>
    <div id="page-desc">
        <div class="left field"><strong>Descri&ccedil;&atilde;o: </strong>{DESC_PAGE}</div>
        <div class="right">{ACT_VOLTAR}</div>
    </div>
</div>		
<div id="status_msg"></div>
<div id="waiting" class="gray">Por favor, aguarde...<br /><br /><img src="./img/loader.gif" title="Carregando..." alt="Carregando..." /></div>