*{ margin: 0; padding: 0; }
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	line-height:1.125em;
	text-align: center;
	background-color: #FFBFDC; /*#D8C4A6;/*#66402F;*/
}
html, body { height:100%;}

/** commom **/
.left, .float_left{float:left;}
.right, .float_right{float:right;}
.clear {clear:both; display:block; overflow:hidden; visibility:hidden; height:0px;}
.clear-both {clear:both;}
.clear-left, .clear_left {clear:left;} 
.clear-right, .clear_right {clear:right;}
.hide {display:none;} 
.show {display:block !important;}
.block {display:block !important;} 
.inline {display:inline !important;}
.align_right{ text-align:right;}
.align_left{ text-align:left;}
.align_center{ text-align:center;}
.align_justify{ text-align:justify;}
.bold {font-weight:600;}
.italic {font-style:italic;}


.box-center{
	clear: both;
	overflow:hidden;
	display: block;
}
.lfix{
	text-align: right;
	width: 30%;
	float: left;
	height: 20px;
	padding-top: 3px;
}
.rfix{
	text-align: left;
	float: right;
	height: 26px;
	width: 65%;
}

input{
	border: 1px solid;
	width: 180px;
	height: 20px;
}
#bt_login{
	height: 25px;
}

#txtuser:focus{
	background-color:#FFDAB3;;
}
#txtpass:focus{
	background-color:#FFDAB3;
}
.msg_err{
	color:#CC3333;
}

.msg_logout{
	color:#005f00;
}
.err_box{
	overflow: hidden;
	width:inherit;
	text-align:center;
	font-weight: bold;
	vertical-align: middle;
	padding: 10px;
}
.container{
	padding:2px;
	width: 385px;
	text-align: left;
	display: block;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}
.box-login{
	margin-top: 50px;
	border: 2px solid;
	height: 280px;
	padding: 10px;
	border: 2px solid;
	border-radius: 12px;
	background-color: #fff;
}

