@media print {
    
*{margin: 0; padding: 0;}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
    line-height:1.125em;
    text-align: center;
}
html{min-width:980px;}
html, body{height:100%;}

nav{
    display: none;
}
footer{
    display: none;
}
#container{
    display: none;
}
#status_msg{
    display: none;
}
#waiting{
    display: none;
}
.wrapper{
    display:none;
}
.content{
    display: block;
}
/**
 * 	Formularios
 */
.form-frame{
    margin-left: 1%;
    margin-right: 1%;
    clear:both;
    display:block;
    padding: 6px;
    border: 1px solid;
    border-radius: 5px;
    background-color: white;
}
.form-desc{
    padding: 15px 15px 15px 0px;
    margin-right: 10px;
}
.inner-frame, .frm-inner-frame{
    overflow: hidden;
    vertical-align:middle;
    width:auto;
    margin-right: 7px;
    margin-top: 5px;
    position:relative;
    border: 1px solid;
    border-radius: 4px;
    border-color:#d4d4d4;
}
.inner-group, .frm-inner-group{
    overflow: hidden;
    vertical-align:middle;
    width:auto;
    position:relative;
}
.left-inner-frame{
    overflow: hidden;
    vertical-align:middle;
    float:left;
}
.right-inner-frame{
    overflow: hidden;
    vertical-align:middle;
    float:right;
}
.inner-title{
    padding: 5px 5px 5px 0px;
    border-radius: 4px;
    margin-bottom: 5px;
}
.frm-title{
    padding: 5px 5px 5px 10px;
    border-radius: 4px;
    margin-bottom: 5px;
    font-weight: bold;
}
.frm-reg{
    overflow: hidden;
    width:auto;
    clear:both;
    display: block;
    padding: 5px;
}
.frm-row{
    float: left;
    overflow: hidden;
    display: block;
    padding: 5px;
}
.field{
    width:auto;
    float:left;
    padding: 5px 5px 5px 5px;
    vertical-align:central;
    height: auto;
    /*height: 30px;*/
}
.field-select{
    display: inline;
}
.field input, textarea{
    padding: 5px 2px 5px 2px;
}
.field-desc{
    width: auto;
    overflow:hidden;
    padding-top: 8px;
    vertical-align: middle;
}
.frm-observ{
    display: block;
    overflow: hidden;
    margin-left: 3%;
    margin-right: 3%;
    color: red;
}
.frm-sendgroup{
    text-align: center;
    clear: both;
}
.frm-sendgroup input{
    padding: 2px;
}
.lst-table{
    overflow: hidden;
    width:auto;
    clear:both;
    display: block;
    padding: 5px;
}
.lst-col{
    float: left;
    width: 85%;
}
.lst-none{
    overflow: hidden;
    text-align: center;
    width:auto;
    clear:both;
    display: block;
    padding: 60px;
    font-size: 18px;
    margin: 10px 0px 30px 0px;
    border-radius: 5px;
}
.lst-reg{
    overflow: hidden;
    width:auto;
    clear:both;
    display: block;
    padding: 5px;
}
.lst-row{
    clear:right;
    overflow: hidden;
    display: block;
    padding: 5px;

}
.lst-field{
    width:auto;
    float:left;
    padding: 5px 5px 5px 5px;
    vertical-align:central;
}
.lst-group{
    width:auto;
    padding: 5px 5px 5px 5px;
    vertical-align:central;
}
.lst-title{
    padding: 5px;
    border-radius: 4px 4px 0px 0px;
}
.btg{/*button grande*/
    cursor: pointer;
    color: #000000;
    height: 30px;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    width: 120px;
    margin-bottom: 1px;
}
.btn{/*button normal*/
    cursor: pointer;
    color: #000000;
    height: 30px;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
}
.bts{/*button small*/
    cursor: pointer;
    color: #000000;
    height: 23px;
    padding: 0px 10px 0px 10px;
    border-radius: 5px;
}
.in-btss{
    cursor: pointer;
    color: #000000;
    padding: 0px 15px 0px 15px;
    border-radius: 5px;
     height: 24px;
     margin-top: -4px;
     margin-right: -5px;
}
.inp_field{
    padding: 5px;
}
.spacer{
    padding: 8px;
    margin-right:12px;
    width: auto;
    display:block;
    float:left;
    text-align:center;
}
.hspacer{
    padding: 10px;
    width: auto;
    display:block;
}

/** commom **/
.left, .float_left{float:left;}
.right, .float_right{float:right;}
.clear, .cl{clear:both;}
.clear-both, .clb{clear:both;}
.clear-left, .clear_left, .cll {clear:left;} 
.clear-right, .clear_right, .clr{clear:right;}
.hide{display: none;}
.show{display: block;}
.block, .db{display:block !important;} 
.inline, .di{display:inline !important;}
.table{display: table;}
.cell{display:table-cell;}
.align_right,.ar{text-align:right;}
.align_left,.al{text-align:left;}
.align_center,.ac,.center{text-align:center;}
.align_justify,.aj{text-align:justify;}
.overfh{overflow: hidden;}
.overfv{overflow: visible;}
.bold, .b{font-weight:600;}
.italic, .i{font-style:italic;}
.border, .brd{border: 1px solid;}
.noborder, .nbrd{border: none;}
.wauto{width: auto !important;}
.autoflow{position:absolute; width:auto; padding:5px;}
.bbrd{border: 3px solid;}
/****************************************************/

/** COLORS **/
.white{
    background-color: #ffffff; 
}
.pink{
    background-color: #ffa3c7; 
    border: 1px solid #BF608A;
}
.pink:hover, .pink:active{
    background-color: #ffc2da;
}
.orange{
    background-color: #fad39e; 
    border: 1px solid #f3910d;
}
.orange:hover, .orange:active{
    background-color: #fce3bf;
}
.blue{
    background-color: #c4def2;
    border: 1px solid #1c537d;
}
.blue:hover, .blue:active{
    background-color: #d0e5f5;
}
.green{
    background-color: #beddb6;
    border: 1px solid #64ad52;
}
.green:hover, .green:active{
    background-color: #D6E8C4;
}

.gold{
    background-color: #e5e600;
    border: 1px solid #7a7a00;
}
.gold:hover, .gold:active{
    background-color: #f4f500;
}
.yellow{
    background-color: #ffff99;
    border: 1px solid #cccc00;
}
.yellow:hover, .yellow:active{
    background-color: #ffffb8;
}
.gray{
    background-color: #e4e4e4;
    border: 1px solid #888888;
}
.gray:hover, .gray:active{
    background-color:#f2f2f2;
}
.red{
    background-color: #F08080;
    border: 1px solid #af1509;
}
.red:hover, .red:active{
    background-color: #F0C0C0;
}

}