.content div{
    overflow: hidden;
}
div.info{
    line-height: 25px;
}
.head{
    border-bottom: 1px solid;

}
img{
    padding: 10px;
}
.endereco{
    padding:28px 20px 20px 20px;
}
.rec-content{
    margin-left: 10%;
    border-radius: 5px;
}
.info{
    padding: 10px 5px 5px 10px;
    font-size: 18px;
}
.lst-coll{
    margin-left: 1%;
    width: 40%;
    border-left: 1px solid;

}
.lst-colr{
    width: 56%;
    border-right: 1px solid;
    border-left: 1px solid;
}
.lst-cola{
    width: 96%;
}
.pp{
    padding-left: 5px;
    padding-right: 5px;
}
.brdb{
    margin-left: 1%;
    border-bottom:1px solid;

}
.brdbt{
    border-bottom:1px solid;
    border-top:1px solid;
}