
<div class="content">
	<div id="page-title"><h1>{PAGE_TITLE}</h1></div>
	<div class="form-desc"><strong>Descri&ccedil;&atilde;o:</strong> As fun&ccedil;&otilde;es do sistema est&atilde;o agrupadas por &aacute;rea.</div>

<div class="row">
	<!-- BEGIN BLK_CAD -->
	<div class="module gradient-green">
		<div id="cad">
		<div class="modlabel">{TITLE1}</div>	
			<div>
				<ul>
					{VAR_BLK_CAD}
				</ul>
			</div>
		</div>
	</div>
	<!-- END BLK_CAD -->
		
	<!-- BEGIN BLK_LIST_CAD -->
	<div class="module gradient-green">
		<div id="lcad">
		<div class="modlabel">{TITLE2}</div>	
			<div>
				<ul>
					{VAR_BLK_LIST_CAD}
				</ul>
			</div>
		</div>
	</div>
	<!-- END BLK_LIST_CAD -->
	
	
	
	
	<!-- BEGIN BLK_AGEND -->
	<div class="module gradient-orange">
		<div id="fat">
		<div class="modlabel">{TITLE3}</div>	
			<div>
				
				<ul>
					{VAR_BLK_AGEND}
				</ul>
				
			
			</div>
		</div>
	</div>
	<!-- END BLK_AGEND -->	
	
	<!-- BEGIN BLK_RELAT -->
	<div class="module gradient-orange">
		<div id="loc">
		<div class="modlabel">{TITLE4}</div>	
			<div>
				
				<ul>
					{VAR_BLK_RELAT}
				</ul>
				
			
			</div>
		</div>
	</div>
	<!-- END BLK_RELAT -->
</div>

<div class="row">
    
	<!-- BEGIN BLK_ADM -->
	<div class="module gradient-red	">
		<div id="adm">
		<div class="modlabel">{TITLE0}</div>	
			<div>
				
				<ul>
					{VAR_BLK_ADM}
				</ul>
				
			
			</div>
		</div>
	</div>
	<!-- END BLK_ADM -->
</div>
</div>